.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 30px;
}
body{
  background: #bbdac3;
}

@media screen and (max-width:992px) {
  .main-container{
    padding: 10px;
  }
}